@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #8263a3;
  --text-dark: #232637;
  --white: #ffffff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  position: absolute;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #dbdce0;
}
body::after {
  position: fixed;
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: var(--text-dark);
  z-index: -1;
  animation: body-bg 1.5s ease-in-out forwards;
}

@keyframes body-bg {
  0% {
    width: 0vw;
  }
  100% {
    width: 50%;
  }
}

/* white line code at the top left corner  */
body::before {
  position: fixed;
  content: "0";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 70rem;
  font-weight: 200;
  color: var(--white);
  z-index: 0.5;
}

.container {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  /* min-width: var(--max-width); */
  margin-inline: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

nav {
  padding: 2rem 0;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links a {
  font-weight: 500;
}

.nav__links .logo {
  font-size: 1.2rem;
  font-weight: 800;
}

.nav__left a {
  color: var(--text-dark);
}

.nav__right  {
  display: flex;
  gap: 2rem;
}
.nav__right a {
  color: var(--white);
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.233);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 1rem;
}

.fa-solid {
  font-weight: 900;
  right: 10px;
  position: absolute;
  top: 2%;
  font-size: 20px;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}
.nav__links a:hover {
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* watch image style  */
.letter-s {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 40rem;
  font-size: 40rem;
  font-weight: 900;
  color: var(--primary-color);
}

.container img {
  position: absolute;
  width: 0%;
  min-width: 200px;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 50 rgba(0, 0, 0, 0.8));
}

.container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: var(--white);
  letter-spacing: 25px;
}

.text__left {
  transform: translate(calc(-50% - 250px), -50%) !important;
}
.text__right {
  transform: translate(calc(-50% + 250px), -50%) !important;
}

.container .explore {
  top: 77.5%;
  left: 44.5%;
  transform: translate(-50% calc(-50% + 225px));
  color: var(--text-dark);
  background-color: var(--white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
.container .print {
  top: 50%;
  right: 0;
  transform: translate(0, -50%) rotate(90deg);
  padding: calc(1rem -4px) calc(2rem - 4px);
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}
.container .catalog {
  top: 25%;
  left: 3%;
  transform: translate(0, -50%) rotate(-90deg);
  padding: calc(1rem -4px) calc(2rem - 4px);
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}

/* footer styles */
.container h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
}
.container h5:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  top: 50%;
}

.feature-1 {
  color: var(--text-dark);
  transform: translate(calc(-50% - 300px), calc(-50% - 200px));
}
.feature-2 {
  color: var(--white);
  transform: translate(calc(-50% + 300px), calc(-50% - 200px));
}
.feature-3 {
  color: var(--text-dark);
  transform: translate(calc(-50% - 300px), calc(-50% + 200px));
}
.feature-4 {
  color: var(--white);
  transform: translate(calc(-50% + 300px), calc(-50% + 200px));
}

.feature-1::after,
.feature-3::after {
  right: 0;
  transform: translate(calc(100% + 50px), -50%);
  background-color: var(--text-dark);
}
.feature-2::after,
.feature-4::after {
  left: 0;
  transform: translate(calc(-100% - 40px), -50%);
  background-color: var(--white);
}

.footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-inline: 1rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer p {
  font-size: 0.9rem;
  color: var(--text-dark);
}
.footer__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.footer__links li {
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}

.footer__links li:nth-child(1) {
  animation-delay: 6s;
}
.footer__links li:nth-child(2) {
  animation-delay: 6.5s;
}
.footer__links li:nth-child(3) {
  animation-delay: 7s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer__links li a {
  color: var(--white);
}

.footer__links li a:hover {
  color: var(--primary-color);
}

/* Responsive */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container .explore {
    position: fixed;
    left: 41.5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .letter-s {
    font-size: 35rem;
  }
  .container img {
    min-width: 180px;
  }
  .container h4 {
    font-size: 3rem;
    letter-spacing: 20px;
    top: 51%;
  }
  .text__left {
    transform: translate(calc(-25% - 250px), -50%) !important;
  }
  .text__right {
    transform: translate(calc(-75% + 250px), -50%) !important;
  }
  .container .explore {
    position: fixed;
    left: 39.5%;
  }
  .container .catalog {
    left: -2%;
  }
  .feature-1 {
    transform: translate(calc(-50% - 260px), calc(-50% - 165px));
  }
  .feature-2 {
    transform: translate(calc(-50% + 260px), calc(-50% - 165px));
  }
  .feature-3 {
    transform: translate(calc(-50% - 260px), calc(-50% + 200px));
  }
  .feature-4 {
    transform: translate(calc(-50% + 260px), calc(-50% + 200px));
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container h4 {
    font-size: 2rem;
    letter-spacing: 20px;
    top: 50%;
  }
  .container .explore {
    position: fixed;
    left: 37.5%;
  }
}

@media (min-width: 460px) and (max-width: 575.98px) {
  .container h4 {
    font-size: 2rem;
    letter-spacing: 20px;
    top: 50%;
  }
  .container .explore {
    position: fixed;
    left: 34.5%;
  }
}

@media (min-width: 0px) and (max-width: 459.98px) {
  .letter-s {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20rem;
  }
  .container img {
    top: 50%;
    position: fixed;
    min-width: 100px;
  }
  .container h4 {
    font-size: 1.5rem;
    letter-spacing: 15px;
    top: 50%;
  }
  .text__left {
    transform: translate(calc(-20% - 140px), -50%) !important;
  }
  .text__right {
    transform: translate(calc(-75% + 140px), -50%) !important;
  }
  .container .print {
    top: 20%;
    position: fixed;
  }
  .container h5 {
    top: 50%;
    position: fixed;
    font-size: 1rem;
  }
  .container h5:after {
    top: 50%;
    position: fixed;
    width: 60px;
  }
  .feature-1 {
    transform: translate(calc(-30% - 155px), calc(-50% - 95px));
  }
  .feature-2 {
    transform: translate(calc(-85% + 155px), calc(-50% - 95px));
  }
  .feature-3 {
    transform: translate(calc(-30% - 155px), calc(-50% + 95px));
  }
  .feature-4 {
    transform: translate(calc(-85% + 155px), calc(-50% + 95px));
  }
}

/* Responsive min 768px and max 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
  body::after {
    width: 50% !important;
  }
}

/* Responsive min 0px and max 767.98px */
@media (min-width: 0px) and (max-width: 767.98px) {
  body::after {
    width: 100% !important;
    height: 50%;
    animation: body-bg 1.5s ease-in-out forwards;
  }
  @keyframes body-bg {
    0% {
      height: 0vw;
    }
    100% {
      height: 50%;
    }
  }
  body::before {
    font-size: 44rem;
  }
  .nav__links {
    gap: 2rem !important;
  }
  .nav__left a {
    color: var(--white);
  }
  .container .catalog {
    top: 25%;
    left: -4%;
    position: fixed;
  }
  .feature-1 {
    color: var(--white);
  }
  .feature-4 {
    color: var(--text-dark);
  }
  .feature-1::after {
    right: 0;
    transform: translate(calc(100% + 50px), -50%);
    background-color: var(--white);
  }
  .feature-4::after {
    left: 0;
    transform: translate(calc(-100% - 40px), -50%);
    background-color: var(--text-dark);
  }
  .footer__links li a {
    color: var(--text-dark);
  }
  .nav__links {
    gap: 1rem;
  }

  .container img {
    width: 0%;
  }

  .footer {
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }
}

/* Responsive min 460px and max 767.98px */
@media (min-width: 460px) and (max-width: 767.98px) {
  .letter-s {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25rem;
  }
  .container img {
    top: 50%;
    position: fixed;
    min-width: 140px;
  }
  .container .print {
    top: 50%;
    position: fixed;
  }
  .feature-1 {
    transform: translate(calc(-50% - 200px), calc(-50% - 135px));
  }
  .feature-2 {
    transform: translate(calc(-50% + 200px), calc(-50% - 135px));
  }
  .feature-3 {
    transform: translate(calc(-50% - 200px), calc(-50% + 135px));
  }
  .feature-4 {
    transform: translate(calc(-50% + 200px), calc(-50% + 135px));
  }
}
@media (min-width: 460px) and (max-width: 767.98px) {
  .container h5 {
    top: 51%;
    position: fixed;
  }
  .container h5:after {
    top: 50%;
    position: fixed;
  }
  .text__left {
    transform: translate(calc(-25% - 160px), -50%) !important;
  }
  .text__right {
    transform: translate(calc(-75% + 160px), -50%) !important;
  }
}
/* Responsive min 360px and max 459.98px */
@media (min-width: 360px) and (max-width: 459.98px) {
  .container .explore {
    position: fixed;
    left: 30.5%;
  }
}
/* Responsive min 0px and max 359.98px */
@media (min-width: 0px) and (max-width: 359.98px) {
  .container .explore {
    position: fixed;
    left: 20.5%;
  }
}

/* Responsive min 0px and Height 576px */
@media (min-height: 420px) and (max-height: 576px) {
  .container img {
    min-width: 115px;
    top: 47%;
  }
  .letter-s {
    font-size: 20rem;
    top: 45%;
  }
  .container h4 {
    font-size: 2.5rem;
    top: 46%;
  }
  .container h5 {
    top: 47%;
  }
  .text__right {
    transform: translate(calc(-95% + 250px), -50%) !important;
  }
  .text__left {
    transform: translate(calc(15% - 250px), -50%) !important;
  }
  .feature-1 {
    transform: translate(calc(-50% - 200px), calc(-25% - 105px));
  }
  .feature-2 {
    transform: translate(calc(-50% + 200px), calc(-25% - 105px));
  }
  .feature-3 {
    transform: translate(calc(-50% - 200px), calc(-50% + 105px));
  }
  .feature-4 {
    transform: translate(calc(-50% + 200px), calc(-50% + 105px));
  }
  .container .explore {
    position: fixed;
    left: 42.5%;
    padding: 0.5rem 1rem;
    top: 83.5%;
  }
  .btn {
    padding: 0.5rem 1rem;
  }
  .container .catalog {
    top: 40%;
  }
}
/* Responsive min 0px and Height 419.98px */
@media (min-height: 0px) and (max-height: 419.98px) {
  .container img {
    min-width: 85px;
    top: 47%;
  }
  .letter-s {
    font-size: 15rem;
    top: 45%;
  }
  .container h4 {
    font-size: 2.5rem;
    top: 46%;
  }
  .container h5 {
    top: 47%;
  }
  .text__right {
    transform: translate(calc(-95% + 250px), -50%) !important;
  }
  .text__left {
    transform: translate(calc(15% - 250px), -50%) !important;
  }
  .feature-1 {
    transform: translate(calc(-65% - 200px), calc(-25% - 80px));
  }
  .feature-2 {
    transform: translate(calc(-65% + 200px), calc(-25% - 80px));
  }
  .feature-3 {
    transform: translate(calc(-65% - 200px), calc(-50% + 80px));
  }
  .feature-4 {
    transform: translate(calc(-65% + 200px), calc(-50% + 80px));
  }
  .container .explore {
    position: fixed;
    left: 42.5%;
    padding: 0.5rem 1rem;
    top: 83.5%;
  }
  .btn {
    padding: 0.5rem 1rem;
  }
.container .catalog {
  top: 40%;
}
}

@media (min-width: 0px) and (max-width: 767.98px) {
  @media (min-height: 420px) and (max-height: 576px) {
    body::before {
      font-size: 25rem;
  }
    .container img {
      min-width: 115px;
      top: 47%;
    }
    .letter-s {
      font-size: 20rem;
      top: 45%;
    }
    .container h4 {
      font-size: 2.5rem;
      top: 46%;
    }
    .container h5 {
      top: 47%;
    }
    .text__right {
      transform: translate(calc(-95% + 250px), -50%) !important;
    }
    .text__left {
      transform: translate(calc(15% - 250px), -50%) !important;
    }
    .feature-1 {
      transform: translate(calc(-50% - 200px), calc(-25% - 105px));
    }
    .feature-2 {
      transform: translate(calc(-50% + 200px), calc(-25% - 105px));
    }
    .feature-3 {
      transform: translate(calc(-50% - 200px), calc(-50% + 105px));
    }
    .feature-4 {
      transform: translate(calc(-50% + 200px), calc(-50% + 105px));
    }
    .container .explore {
      position: fixed;
      left: 40.5%;
      padding: 0.5rem 1rem;
      top: 71.5%;
    }
    .btn {
      padding: 0.5rem 1rem;
    }
    .container .catalog {
      top: 40%;
    }
  }
  /* Responsive min 0px and Height 419.98px */
  @media (min-height: 0px) and (max-height: 419.98px) {
    body::before {
      font-size: 25rem;
  }
    .container img {
      min-width: 85px;
      top: 47%;
    }
    .letter-s {
      font-size: 15rem;
      top: 45%;
    }
    .container h4 {
      font-size: 2.5rem;
      top: 46%;
    }
    .container h5 {
      top: 47%;
    }
    .text__right {
      transform: translate(calc(-95% + 250px), -50%) !important;
    }
    .text__left {
      transform: translate(calc(15% - 250px), -50%) !important;
    }
    .feature-1 {
      transform: translate(calc(-65% - 200px), calc(-25% - 80px));
    }
    .feature-2 {
      transform: translate(calc(-65% + 200px), calc(-25% - 80px));
    }
    .feature-3 {
      transform: translate(calc(-65% - 200px), calc(-50% + 80px));
    }
    .feature-4 {
      transform: translate(calc(-65% + 200px), calc(-50% + 80px));
    }
    .container .explore {
      position: fixed;
      left: 40.5%;
      padding: 0.5rem 1rem;
      top: 70.5%;
    }
    .btn {
      padding: 0.5rem 1rem;
    }
  .container .catalog {
    top: 40%;
  }
  .footer{
    bottom: 0.5rem;
  }
  }
}
/* Nav bar responsive */
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
    cursor: pointer;
  }
}